html {
  /* rem em */
  /* em是相对于父元素的font-size */
  /* rem是相对于根元素html的font-size,r是room的意思 */
  /* 16 * 62.5 = 10px */
  /* 1rem===10px */
  font-size: 62.5%;
}

html body #root .App{
  /* viewport
   height
    */
  min-height: 100vh;
}